body{background-color:  #fef9e7 ;
            color:black }
.group{color:darkslategrey;
        font-size: 1.1em; 
        background-color: #e0e0e0 ;
        margin-left: 25px;
        width: 80%;
        padding: 15px 10px 15px 25px}
#wrapper{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color:#fafafa;
    min-width: 700px;
    max-width: 1024px;
    box-shadow: 10px 10px 10px #666666;
}
footer{background-color: #fafafa;
       margin-left: 170px;
       text-align: center}
main{background-color:#fafafa;
    margin-left: 170px}
header{background-color:#000066;
       text-align: center}
nav{background-color: #fafafa;
    width:170px;
    float:left;
    line-height:180%}
nav ul{list-style-type: none}